/* Default */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,388&display=swap');

html {
    font-family: 'Rubik', sans-serif;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Global styles */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-size: auto;
    background-color: #030b07;
    margin: 0;
    padding: 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 1px;
    max-width: 950px;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.column {
    flex-basis: 50%;
    padding: 0 10px;
    text-align: left;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.column h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.column p {
    font-size: 13.5px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Header styles */
.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header nav {
    display: flex;
    justify-content: center;
}

.header nav a {
    margin-right: 20px;
}

/* Main content styles */
.main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.main h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.main p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Column styles */
.column img {
    width: 60%;
    height: auto;
    border: 1px solid darkgrey;
    max-width: 60%;
  }

/* Footer styles */
.footer {
    font-size: 10px;
    color: #f9f9f9;
    text-align: center;
}


.footer a {
    color: #f9f9f9; 
}




/* Buttons/Form Elements */

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin: 0 5px 20px 0;
    overflow: visible;
    padding: 12px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
    height: 35px;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-50 {
      padding: 10px 10px;
    }
  }
